#matn {
  background-color: rgb(199, 179, 179);
  color: aquamarine;
  /* border-style: dotted;
  border-width: 5px;
  border-color: #4E6688; */
  border-bottom: 2px solid green;
  /* border-top: 2px dashed magenta; */
  padding: 20px;
  margin: 40px;
}


p{
  padd
}